@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    @apply text-lg
}

.projects img {
    width: 100%;
}

/* color */
.bg-primary {
    background: #552619;
}

.bg-secondery {
    background: #1E293B;
}

.bg-accent {
    background: #B2456E;
}

.text-accent {
    color: #B2456E;
}

nav ul li{
    @apply text-center 
}


nav li a {
    @apply px-4 py-5 text-xl;
    
}

nav li a:hover {
    color: #B2456E;
}

.mobile-nav {
    @apply block md:hidden fixed top-10 py-2 w-full h-full bg-[#552619] duration-700;
}


/* hero */
h1 {
    font-family: 'Pacifico', cursive;
    line-height: 1.5 !important;
}


